.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .fix-im {
      position: relative;
      bottom:11rem;
  }
  @media screen and (max-width:768px){
  .flex-100 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
  }
  .fix-im {bottom: 0rem;}
  }
  .ugali {
      background: black;
      padding: 6px;
  }
  
  label#welcomeLabel{
      color: white;
  }
  
  
  input {
    width:230px;
    height:42px;
    margin-top:25px;
    margin-right: 5px;
    padding:0 15px;
    background:#2d2d2d;
    background:rgba(45,45,45,.15);
    -moz-border-radius: 6px;
    -webkit-border-radius:6px;
    text-align:center;
    border-radius:6px;
    border:1px solid #3d3d3d;
    border:1px solid rgba(255,255,255,.15);
    -moz-box-shadow:0 2px 3px 0 rgba(0,0,0,.1) inset;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-size:16px;
    color:#fff;
    text-shadow:0 1px 2px rgba(0,0,0,.1);
    }
    
    input:-moz-placeholder { color: #fff; }
    input:-ms-input-placeholder { color: #fff; }
    input::-webkit-input-placeholder { color: #fff; }
    
    input:focus {
    outline:none;
    -moz-box-shadow:
            0 2px 3px 0 rgba(0,0,0,.1) inset,
            0 2px 7px 0 rgba(0,0,0,.2);
    -webkit-box-shadow:
            0 2px 3px 0 rgba(0,0,0,.1) inset,
            0 2px 7px 0 rgba(0,0,0,.2);
    box-shadow:
            0 2px 3px 0 rgba(0,0,0,.1) inset,
            0 2px 7px 0 rgba(0,0,0,.2);
    }
  
    button {
        cursor:pointer;
        width:300px;
        height:44px;
        margin-bottom: 10px;
        margin-top:25px;
        padding:0;
        background:#2d2d2d;
        font-size: 15px;
        color:white;
        
    }
  
    a#hrefButton{
        margin-bottom: 10px;
        margin-top: 5px;
        background:#2d2d2d;
        font-size: 15px;
         color:white;
    }
  
    a#subButton{
      margin-bottom: 10px;
      margin-top: 5px;
      background: rgb(46, 138, 46);
      font-size: 15px;
       color:white;
    }
  
    a#unSubButton{
      margin-bottom: 10px;
      margin-top: 5px;
      background: rgb(46, 138, 46);
      font-size: 15px;
       color:white;
    }
        
    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
    }
    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 600;
      src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOUuhs.ttf) format('truetype');
    }
    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 700;
      src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOUuhs.ttf) format('truetype');
    }
    
    html{
        font-family: 'Raleway', sans-serif;
        background: url("../../assets/img/book.jpg") no-repeat center center fixed;	
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;	
        width:100%;
        height:100%;
        overflow:hidden;
        z-index:9;
    }
    
    *{padding: 0; margin: 0; box-sizing: border-box;}
    body{height: 900px;}
    header {
        background: url("../../assets/img/book.jpg");
        text-align: center;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-attachment: fixed;
        position: relative;
        overflow: hidden;
        border-radius: 0 0 65% 65% / 30%;
    }
    header .overlay{
        width: 20%;
        height: 80%;
        padding: 250px;
        color: #FFF;
        text-shadow: 1px 1px 1px #333;;
        
    }
    
    h1 {
        font-family: 'Dancing Script', cursive;
        font-size: 80px;
        margin-bottom: 30px;
    }
    
    h3, p {
        font-family: 'Open Sans', sans-serif;
        margin-bottom: 30px;
    }
    
   
    element.style {
      background-color: white;
    }
    
    .container {
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
    }
    * {
      margin: 0;
      padding: 0;
      font-family: 'Open Sans', arial, sans-serif;
    }
    *, *::after, *::before {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    * {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    user agent stylesheet
    div {
      display: block;
    }
    .banner {
      
      text-align: center;
    }
    * {
      margin: 0;
      padding: 0;
      font-family: 'Open Sans', arial, sans-serif;
    }
    body {
      font-family: "Open Sans", sans-serif;
      color: #2c343b;
      background-color: #f2f2f2;
    }
    body {
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 14px;
      line-height: 1.42857143;
      color: #333;
      background-color: #fff;
    }
    * {
      margin: 0;
      padding: 0;
      font-family: 'Open Sans', arial, sans-serif;
    }
    html {
      font-size: 62.5%;
    }
    html {
      font-size: 10px;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
    }
    html {
      font-family: sans-serif;
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
    }
    * {
      margin: 0;
      padding: 0;
      font-family: 'Open Sans', arial, sans-serif;
    }
    .clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
      display: table;
      content: " ";
    }
    *, *::after, *::before {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    :before, :after {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    .clearfix:after, .dl-horizontal dd:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-footer:after {
      clear: both;
    }
    .clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
      display: table;
      content: " ";
    }
    *, *::after, *::before {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    :before, :after {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    
    *, *:before, *:after {
      box-sizing: border-box;
    }
    html {
      font-size: 16px;
    }