<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Form</title> 
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    
</head>
<body>
<div>
    <form #f="ngForm" (ngSubmit)="onSubmit(f.value, f)" ngNativeValidate>
    <h1>Sign Up</h1>
      <div *ngFor="let field of formFields" >
            <div *ngIf="review==false" >
                <label for={{field.id}}>{{field.label}}</label>   
                <input type="text" id={{field.id}}  name={{field.id}} ngModel={{field.value.value}} *ngIf="field.type.name=='string' && ( field.id !='password'  && field.id !='wayOfPaying' && field.id!='scientificAreas' && field.id!='editors') " >
                <input type="password" id={{field.id}} name={{field.id}} ngModel={{field.value.value}}   *ngIf="field.id =='password'" >
                <input type="checkbox" id={{field.id}} name={{field.id}} ngModel  *ngIf="field.type.name=='boolean' && field.id !='isOpenAccess1'">
                    
                <input type="number" id={{field.id}} name={{field.id}} ngModel={{field.value.value}}  *ngIf="field.type.name=='long'">
                <select class="form-control" name={{field.id}}  id={{field.id}}  multiple size="3" ngModel *ngIf="field.type.name=='enum' && field.id!='recenzents' || ( field.type.name=='string' && field.id=='scientificAreas')">
                    <option *ngFor="let area of areas" [value]="area.id" >{{area.name}}</option>
                </select> 
                <select name={{field.id}} id={{field.id}}   ngModel={{ways}} *ngIf=" field.id =='wayOfPaying'">
                    <option *ngFor="let method of methods" [value]="method.id">{{method.name}}</option>
                    </select>
                    <select name={{field.id}}  id={{field.id}} ngModel *ngIf="field.type.name=='string' && field.id=='editors'">
                        <option *ngFor="let editor of editors" [value]="editor.id">{{editor.username}}</option>
                    </select>
                    <select name={{field.id}}  id={{field.id}} multiple size="3" ngModel *ngIf="field.type.name=='enum' && field.id=='recenzents'">
                    <option *ngFor="let recenzent of recenzents" [value]="recenzent.id">{{recenzent.username}}</option>
                </select>  
            </div>
            <div *ngIf="review==true" >
                    <label for={{field.id}}>{{field.label}}</label>   
                    <input type="text" readonly id={{field.id}}  name={{field.id}} ngModel={{field.defaultValue}} *ngIf="field.type.name=='string' && ( field.id !='password'  && field.id !='wayOfPaying1' && field.id!='scientificAreas1' && field.id!='editors') || (field.type.name=='boolean' && field.id =='isOpenAccess1') " >
                    <input type="text" readonly id={{field.id}}  name={{field.id}} ngModel={{field.value.value}} *ngIf="field.type.name=='string' && (field.id =='wayOfPaying1'|| field.id=='scientificAreas1')">
                    <input type="password"readonly id={{field.id}} name={{field.id}} ngModel={{field.defaultValue}}   *ngIf="field.id =='password'" >
                    <input type="checkbox" id={{field.id}} name={{field.id}} ngModel  *ngIf="field.type.name=='boolean' && field.id !='isOpenAccess1'">
                    <input type="number" readonly id={{field.id}} name={{field.id}} ngModel={{field.defaultValue}}  *ngIf="field.type.name=='long'"> 
            </div>
        </div>
      <label class="label danger" *ngIf="valid==false" >{{message}}</label>
      <button type="submit">Sign Up</button>
    </form>
</div>
</body>
<!--<select name={{field.id}} multiple size="3" *ngIf="field.type.name=='enum'">
    <option *ngFor="let area of areas" [value]="{{area.id}}">{{area.name}}</option>
</select>-->

